.filter-select-main{
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  .wrap-dropdown{
    flex: auto;
    .dropdown-title{
      font-size: 14px;
      font-weight: 600;
      color: #000;
    }
  }

  .filter-select-show{
    .picon.p-icon-ShutDown{
      font-size: 20px;
    }
  }
}